:root {
    --base-clr: #0b0f17;
    --sidebar-clr: #0d0418;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e8ebf1;
    --accent-clr: #427be8;
    --secondary-text-clr: #b0b3c1;
    --secondary: #204792;
  }
  
  html {
    line-height: 1.5rem;
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--base-clr);
    color: var(--text-clr);
    font-size: 1rem;
    min-height: 100vh;
    min-height: 100dvh;

  }
  
  .bar {
    display: block; /* Make bars block elements */
    width: 2rem; /* Width of the bars */
    height: 0.25rem; /* Height of the bars */
    background-color: white; /* Color of the bars */
    margin: 0.4rem auto; /* Spacing between bars */
    transition: all 0.3s; /* Smooth transition for hover effects */
  }
  
  /* Button styles */
  
  .create-btn-1 {
    display: block;
  }
  
  .create-btn-2 {
    display: none;
  }
  
  form button {
    background-color: rgb(80, 80, 197);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .danger {
    background-color: red;
  }
  
  .success {
    background-color: green;
  }
  
  button:hover {
    background-color: rgba(80, 80, 197, 0.795);
  }
  
  .success:hover {
    background-color: #45a049;
  }
  
  .danger:hover {
    background-color: #dc3545;
  }
  
  .create-form-buttons .btn{
    margin-top: 1.5rem;
    width: 100%;
  }
  
  .custom-alert-danger {
    background-color: #d70416;
    color:white;
    padding: 0.5rem 1rem;
  }
  
  .custom-alert-success {
    background-color: green;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .form-group {
    width: 100%;
    margin: 1rem 0;
  }
  
  .form-group label{
    margin-bottom: 0.25rem;
  }
  
  .hamburger-button {
    display: none;
  }
  
  .hamburger-button-sidebar {
    display: none;
  }
  
  
  /* Form styles */
  
  input.form-control, select.form-control, textarea.form-control {
      background-color: #851558;
      color: white; 
      border-color: #851558;
  }
  
  input.form-control:disabled {
    background-color: #85155893 !important;
    color: rgba(255, 255, 255, 0.485);
  }
  
  input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    background-color: #851558; 
    color: white;
    border-color: #851558; 
    outline: none; 
  }
  
  input::placeholder, textarea::placeholder, select::placeholder{
    color: lightgray !important;
  }
  
  input:-webkit-autofill, input:-internal-autofill-selected {
      background-color: #851558 !important; /* Set the background color for autofilled inputs */
      color: white !important; /* Set text color for autofilled inputs */
      box-shadow: 0 0 0px 1000px #cf4397 inset !important; /* Ensure full override */
  }
  
  .logo-container {
    position: relative;
  }
  
  .logo-img {
    max-width: 10rem;
  }
  
  main, .sidebar {
    overflow-y: auto;
  }
  
  main {
    padding: 20px;
  }
  
  .mobile-nav {
    display: none;
    background-color: #0d0418;
  }
  
  .nav-item {
    margin: 0.25rem 0;
  }
  
  .nav-link.disabled {
    color: #adb5bd;
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .nav-submenu {
    list-style: none;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-between;
  }
  
  /* Sidebar Styles */
  
  #sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--sidebar-clr);
  
    position: sticky;
    top: 0;
    align-self: start;
  }
  
  #sidebar ul {
    list-style: none;
    padding-left: 0 !important;
  }
  
  #sidebar > ul > li:first-child {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  
  #sidebar ul li.active a {
    color: var(--accent-clr);
  
    svg {
      fill: var(--accent-clr);
    }
  }
  
  #sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration:none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  #sidebar svg {
    flex-shrink: 0;
    fill:var(--text-clr);
  }
  
  #sidebar a span, #sidebar .dropdown-btn span {
    flex-grow: 1;
  }
  
  #sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: var(--hover-clr);
  }
  
  #sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div {
      overflow: hidden;
    }
  }
  
  #sidebar .sub-menu.show {
    grid-template-rows: 1fr;
  }
  
  .dropdown-btn svg {
    transition: 200ms ease;
  }
  
  .rotate svg:last-child {
    rotate: 180deg;
  }
  
  #sidebar .sub-menu a {
    padding-left: 2em;
  }
  
  /* Table styles */
  
  table {
    border-collapse: separate !important;
    border-spacing: 0 16px; /* Adds 10px space between rows */
    width: 100%; /* Optional, for full-width table */
    
  }
  
  th, td {
    border: none; /* Remove borders */
    background-color: #851558 !important; /* Row background color */
    color: white !important;
  }
  
  th {
    padding: 5px 20px !important;
  }
  
  td {
    padding: 20px !important;
    vertical-align: middle;
  }
  
  tr td:first-child, tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  tr td:last-child, tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  
  
  /* Media Queries */
  
  
  @media (max-width: 1080px) {
    .logo-img {
      max-width: 8rem;
    }
  }
  
  @media (max-width: 1160px) {
    tr td:last-child button {
      width: 100%;
      margin: 5px 0 5px 0;
    }
  }
  
  @media (max-width: 800px) {
    .hamburger-button {
      display: block;
      position: absolute; /* Position the button absolutely */
      top: 50%; /* Center vertically */
      left: 1rem; /* Adjust as needed for spacing */
      transform: translateY(-50%); /* Adjust for perfect vertical centering */
      background: transparent; /* No background */
      border: none; /* No border */
      z-index: 1000; /* Ensure it is above other elements */
    }
  
    .hamburger-button-sidebar {
      display: block;
      position: absolute; /* Position the button absolutely */
      top: 3.5%; /* Center vertically */
      left: 0.3rem; /* Adjust as needed for spacing */
      background: transparent; /* No background */
      border: none; /* No border */
      z-index: 1000; /* Ensure it is above other elements */
    }
  
    .logo-container {
      display: block;
    }
  
    .logo-img {
      max-width: 8rem;
    }
  
    .mobile-nav {
      display: block;
      background-color: #0d0418;
      position: fixed;
    }
  
    tr td:first-child {
      border-radius: 10px 10px 0 0;
    }
    
    tr td:last-child {
      border-radius: 0 0 10px 10px ;
    }
  
    th {
      display: none;
    }
  
    td {
      display:block;
      padding: 1rem 2rem !important;
    }
  
    td::before {
      content: attr(data-cell) ": ";
      text-transform: capitalize;
    }
  
    td.users-table::before {
      content: none;
    }
    
    tr td:first-child::before {
      content: none;
    } 
  
    tr td:first-child {
      font-weight:bold;
      padding-left: 1.5rem !important;
    }
  
    tr td:last-child {
      padding-top: 0.5rem !important;
      padding-left: 1.5rem !important;
    }
  
    tr td:last-child::before {
      content: none;
    }
  
    tr td:last-child button {
      width: fit-content;
      margin: 1px;
    }
    
    tr td:last-child button span {
      display:none;
    }
  
    body {
      grid-template-columns: 1fr;
    }
  
    main {
      padding: 7.5em 2em 60px 2em;
    }
  
    .create-btn-1 {
      display: none;
    }
    
    .create-btn-2 {
      display: block;
    }
  
    #sidebar {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      height: 100%;
      background-color: var(--line-clr);
      transition: left 0.3s ease-in-out;
      z-index: 1000;
    }
  
    #sidebar.active {
      left: 0;
    }
  }